h1 {
    border: 1px solid black;
    display: block;
    margin: 10px;
    padding: 20px;
  
    }
  .Cronograma { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gray;
    gap: 20px;
    padding: 20px ;
    border-radius:8px ;
    height: 350px;
    width: 600px;
  }
  
  
  